<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div>
      <p class="profile-heading">Account</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="user-top">
      <div class="image-container">
        <img src="../../../assets/food/shawarma1.jpg" />
      </div>
      <div class="user-names">
        <p class="name">Farouk Bakre</p>
      </div>
    </div>
    <div class="containers">
      <div class="container-link" [routerLink] = '["profile"]'>
        <p class="container-heading">Edit Profile</p>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="container-link" [routerLink] = '["privacy"]'>
        <p class="container-heading">Settings & Privacy</p>
        <ion-icon name="chevron-forward"></ion-icon>
      </div>
      <div class="container-link2" [routerLink] = '["/signin"]'>
        <p class="container-heading">Log out</p>
      </div>
    </div>
    
  </div>
</ion-content>
