<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/jobs" icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons *ngIf="this.jobItem.status != 'Pending Quotation Creation'" slot="end" (click)="this.moreOptions()">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="user-top">
      <div class="image-container">
        <ion-icon name="people-circle-outline"></ion-icon>
      </div>
      <div class="user-names">
        <p class="name">{{this.jobItem.companyName}}</p>
        <p class="date">{{this.globalService.formatDate(this.jobItem.created_at)}}</p>
      </div>
      <div class="action-buttons" *ngIf="this.jobItem.quotation == 'Quotation has not been created'">
        <div class="action-button" [routerLink]='["quote"]'>
          <ion-icon name="Create"></ion-icon>
          <p>Create quotation</p>
        </div>
      </div>
      <!-- <div class="action-buttons">
        <div class="action-button">
          <ion-icon name="add-circle"></ion-icon>
          <p>Edit quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create"></ion-icon>
          <p>View quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create-outline"></ion-icon>
          <p>Share Quotation</p>
        </div>
      </div> -->
      <!-- <div class="action-buttons">
        <div class="action-button">
          <ion-icon name="add-circle"></ion-icon>
          <p>View quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create"></ion-icon>
          <p>Share quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create-outline"></ion-icon>
          <p>View Invoice</p>
        </div>
        <div class="action-button">
          <ion-icon name="create-outline"></ion-icon>
          <p>Share Invoice</p>
        </div>
      </div> -->
    </div>
    <div class="job-con" *ngIf="this.jobItem != {}">
      <div class="job-sec">
        <p class="heading1">Cost of Job</p>
        <p *ngIf="this.jobItem.quotation != 'Quotation has not been created'" class="heading1">
          {{this.globalService.nairaFormat(this.jobItem.quotation.currency, this.jobItem.quotation.totalJobCost)}}
        </p>
        <i *ngIf="this.jobItem.quotation == 'Quotation has not been created'" class="heading1">
          Quotation has not been created yet.
        </i>
      </div>
      <div class="job-sec">
        <p class="heading1">Profit</p>
        <p *ngIf="this.jobItem.quotation != 'Quotation has not been created'" class="heading1">
          {{this.globalService.nairaFormat(this.jobItem.quotation.currency, this.jobItem.quotation.profit)}}
        </p>
        <i *ngIf="this.jobItem.quotation == 'Quotation has not been created'" class="heading1">
          Quotation has not been created yet.
        </i>
      </div>
      <div class="job-sec">
        <p class="heading1">Contact Name</p>
        <p class="heading2">{{this.jobItem.contactName}}</p>
      </div>
      <div class="job-sec">
        <p class="heading1">Contact Phone Number</p>
        <a class="heading2" href="tel:{{this.jobItem.contactNumber}}">{{this.jobItem.contactNumber}}</a>
      </div>
      <div class="job-sec" *ngIf="this.jobItem.comment != ''">
        <p class="heading1">Comment</p>
        <p class="heading2">{{this.jobItem.comment}}</p>
      </div>
      <div class="job-sec">
        <p class="heading1">Status</p>
        <p *ngIf="this.jobItem.status == 'Completed'" class="status bggreen">{{this.jobItem.status}}</p>
        <p *ngIf="this.jobItem.status != 'Completed' && this.jobItem.status != 'Cancelled'" class="status bgorange">
          {{this.jobItem.status}}</p>
        <p *ngIf="this.jobItem.status == 'Cancelled'" class="status bgred">{{this.jobItem.status}}</p>
      </div>
    </div>
  </div>
</ion-content>