<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/jobs" icon="arrow-back" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="user-top">
      <div class="image-container">
        <ion-icon name="people-circle-outline"></ion-icon>
      </div>
      <div class="user-names">
        <p class="name">7up Bottling Company</p>
        <p class="date">22/03/2020</p>
      </div>
      <div class="action-buttons">
        <div class="action-button" [routerLink] = '["quote"]'>
          <ion-icon name="Create"></ion-icon>
          <p>Create quotation</p>
        </div>
      </div>
      <!-- <div class="action-buttons">
        <div class="action-button">
          <ion-icon name="add-circle"></ion-icon>
          <p>Edit quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create"></ion-icon>
          <p>View quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create-outline"></ion-icon>
          <p>Share Quotation</p>
        </div>
      </div> -->
      <!-- <div class="action-buttons">
        <div class="action-button">
          <ion-icon name="add-circle"></ion-icon>
          <p>View quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create"></ion-icon>
          <p>Share quotation</p>
        </div>
        <div class="action-button">
          <ion-icon name="create-outline"></ion-icon>
          <p>View Invoice</p>
        </div>
        <div class="action-button">
          <ion-icon name="create-outline"></ion-icon>
          <p>Share Invoice</p>
        </div>
      </div> -->
    </div>
    <div class="job-con">
      <div class="job-sec">
        <p class="heading1">Cost of Job</p>
        <p class="heading2">₦<span>350,900.00</span></p>
      </div>
      <div class="job-sec">
        <p class="heading1">Profit</p>
        <p class="profit">₦<span>200,000.00</span></p>
      </div>
      <div class="job-sec">
        <p class="heading1">Contact Name</p>
        <p class="heading2">Mr Jimoh</p>
      </div>
      <div class="job-sec">
        <p class="heading1">Contact Phone Number</p>
        <p class="heading2">08045251688</p>
      </div>
      <div class="job-sec">
        <p class="heading1">Comment</p>
        <p class="heading2">This is my comment on this job.</p>
      </div>
      <div class="job-sec">
        <p class="heading1">Status</p>
        <p class="status bggreen">Completed</p>
      </div>
    </div>
  </div>
</ion-content>