<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="top-section">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/signin" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
      <div>
        <!-- <p class="profile-heading">Signin</p> -->
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="body">
      <div class="body-heading">
        <p class="profile-heading">Forgot Password</p>
      </div>
      <div class="section">
        <div class="input-div">
          <p>Email:</p>
          <input type="email" [(ngModel)] = "this.userAccount.email" />
        </div>
      </div>
      <div class="add-buttons">
        <p class="add-quotation" (click)="this.forgotpassword()">Reset Password</p>
      </div>
    </div>
  </div>
</ion-content>