<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div>
      <p class="profile-heading">Jobs</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="container">
    <div class="job-list" *ngIf="this.loading == false && this.jobs.length != 0">
      <div class="job-item" *ngFor="let job of jobs" [routerLink] = "[job.id]">
        <div class="job-con">
          <p class="heading1">{{job.jobName}}</p>
          <p *ngIf="job.status == 'Completed'" class="status bggreen">{{job.status}}</p>
          <p *ngIf="job.status != 'Completed' && job.status != 'Cancelled'" class="status bgorange">{{job.status}}</p>
          <p *ngIf="job.status == 'Cancelled'" class="status bgred">{{job.status}}</p>
        </div>
        <div class="job-con2">
          <div class="job-con3">
            <p *ngIf="job.quotation != 'Quotation has not been created'" class="heading1">
              {{this.globalService.nairaFormat(job.currency, job.quotation.quotationDetails.profit)}}
            </p>
            <p *ngIf="job.quotation == 'Quotation has not been created'" class="heading1">
              {{this.globalService.nairaFormat(job.currency, 0)}}
            </p>
            <p class="date">{{this.globalService.formatDate(job.created_at)}}</p>
          </div>
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      </div>
    </div>
    <div class="message" *ngIf="this.loading == false && this.jobs.length == 0">
      <p>You don't have any job yet. <span (click) = "this.newJobModal()">Create One</span></p>
    </div>
    <div class="message" *ngIf="this.loading == true && this.jobs.length == 0">
      <ion-spinner name="lines">Fetching list of jobs</ion-spinner>

    </div>
  </div>

  <!-- New Post floating button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click) = "this.newJobModal()">
    <a>
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </a>
    
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="more($event)">
    <ion-infinite-scroll-content
      loadingSpinner="lines">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>