<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="buttons">
      <button class="cancel" (click)="this.closeModal()">Cancel</button>
      <ion-button disabled={{this.disabled}} class="create" (click)="addPayment()">{{this.action}} {{this.type}}</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input-div fullwidth">
      <p>{{this.type}} name:</p>
      <input type="text" [(ngModel)] = "this.payment.paymentName" (input) = "this.onType()" />
    </div>
    <div class="input-div fullwidth">
      <p>amount:</p>
      <input type="number" [(ngModel)] = "this.payment.amount" (input) = "this.onType()" />
    </div>
  </div>
</ion-content>