.header-md::after {
    background-image: none !important;
}

ion-toolbar {
    --border-width: 0px !important;
    padding: 5px 16px 5px 16px !important;
    display: flex !important;
    justify-content: space-between !important;
    border-bottom: solid 1px rgb(250, 250, 250);

    ion-back-button {
        color: var(--ion-color-primarycolor);
        font-size: 14px !important;
        text-transform: none;
    }
}

.toolbar1 {

    // display: flex !important;
    // flex-flow: row nowrap !important;
    // justify-content: space-between !important;
    p {
        margin: 0px;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    ion-button, .create {
        padding: 10px 15px !important;
        font-size: .8em !important;
        --background: var(--ion-color-primarycolor) !important;
        background-color: var(--ion-color-primarycolor) !important;
        color: white !important;
        border-radius: 15px !important;
    }

    .cancel {
        padding: 10px 15px;
        font-size: .8em;
        color: var(--ion-color-primarycolor);
        border-radius: 15px;
        background-color: transparent;
    }
}

.container {
    width: 100%;
    padding: 15px 16px;
    box-sizing: border-box;
    background-color: var(--ion-color-secondarycolor2);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    scroll-behavior: smooth;

    .input-div {
        // width: 100%;
        margin-bottom: 15px;

        p {
            margin: 0px;
            font-size: 0.8em;
            font-weight: 500;
            word-spacing: 1px;
            color: var(--ion-color-textcolor3);
            margin-bottom: 5px;
        }

        input {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            border: solid 1px rgb(230, 230, 230);
            font-size: .9em;
        }

        textarea {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            border: solid 1px rgb(230, 230, 230);
        }
    }
}
.fullwidth {
    width: 100%;
}
.half-width {
    width: 49%;
}
.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}