<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="buttons">
      <button class="cancel" (click)="this.closeModal()">Cancel</button>
      <button class="create" (click) = "this.createJob()">Create Job</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input-div">
      <p>Job Name:</p>
      <input type="text" [(ngModel)]="this.data.jobName" />
    </div>
    <div class="input-div">
      <p>Company Name:</p>
      <input type="text" [(ngModel)]="this.data.companyName" />
    </div>
    <div class="input-div">
      <p>Company Address:</p>
      <input type="text" [(ngModel)]="this.data.companyAddress" />
    </div>
    <div class="input-div">
      <p>Contact Name:</p>
      <input type="text" [(ngModel)]="this.data.contactName" />
    </div>
    <div class="input-div">
      <p>Contact Phone Number:</p>
      <input type="text" [(ngModel)]="this.data.contactNumber" />
    </div>
    <div class="input-div">
      <p>Note/Comment:</p>
      <textarea rows="7" [(ngModel)]="this.data.comment"></textarea>
    </div>
  </div>
</ion-content>