<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="buttons">
      <button class="cancel" (click)="this.closeModal()">Cancel</button>
      <button class="create">Create Job</button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="input-div">
      <p>Company Name:</p>
      <input type="text" />
    </div>
    <div class="input-div">
      <p>Cost of Job:</p>
      <input type="number" />
    </div>
    <div class="input-div">
      <p>Profit:</p>
      <input type="number" />
    </div>
    <div class="input-div">
      <p>Contact Name:</p>
      <input type="text" />
    </div>
    <div class="input-div">
      <p>Contact Phone Number:</p>
      <input type="number" />
    </div>
    <div class="input-div">
      <p>Note/Comment:</p>
      <textarea rows="7"></textarea>
    </div>
  </div>
</ion-content>