<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="top-section">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/jobs" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
      <div>
        <p class="profile-heading">Create Quotation</p>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="section">
      <ion-item>
        <ion-label position="floating">Sales Person</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quotation Validity</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Payment Terms</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
    <div class="section">

    </div>
  </div>
</ion-content>