<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="top-section">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/jobs" icon="arrow-back" text=""></ion-back-button>
      </ion-buttons>
      <div>
        <p class="profile-heading" *ngIf="this.type == 'new'">Create Quotation</p>
        <p class="profile-heading" *ngIf="this.type == 'edit'">Edit Quotation</p>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div class="container">
    <div class="section">
      <div class="input-div">
        <p>Sales Person<span style="color: red;">*</span>:</p>
        <input type="text" [(ngModel)]="this.quote.salesPerson"/>
      </div>
      <div class="input-div">
        <p>Quotation Validity(No of days)<span style="color: red;">*</span>:</p>
        <input type="number" [(ngModel)]="this.quote.quotationValidity" />
      </div>
      <div class="input-div">
        <p>Payment Terms<span style="color: red;">*</span>:</p>
        <input type="text" [(ngModel)]="this.quote.paymentTerms" />
      </div>
      <div class="input-div">
        <p>Reference Number(optional):</p>
        <input type="number" [(ngModel)]="this.quote.refNumber" />
      </div>
      <div class="input-div">
        <p>Delivery Date(optional):</p>
        <input type="date" [(ngModel)]="this.quote.deliveryDate" />
      </div>
      <div class="input-div">
        <p>Profit<span style="color: red;">*</span>:</p>
        <input type="number" [(ngModel)]="this.quote.profit" />
      </div>
    </div>
    <div class="section item-list">
      <div class="item-item" *ngFor="let item of Items">
        <div class="item-sec">
          <p class="name">{{item.itemName}}</p>
          <p class="price1">{{this.globalService.nairaFormat(this.currency, this.item.totalPrice)}}</p>
        </div>
        <div class="item-sec">
          <p><span class="quantity"><span>{{this.item.quantity}}</span> X </span><span
              class="price2">{{this.globalService.nairaFormat(this.currency, this.item.unitPrice)}}</span>
          </p>
          <div class="icon">
            <ion-icon name="create-outline" (click)="this.openEditItemModal(item)"></ion-icon>
            <ion-icon name="trash-outline" (click)="this.removeItem(item)"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <p class="add-item" (click)="this.openAddItemModal()">+ Add Item</p>
    </div>
    <div class="section">
      <div class="input-div">
        <p>Note/Comment(Optional):</p>
        <textarea rows="3" [(ngModel)]="this.quote.comment"></textarea>
      </div>
    </div>
    <div class="summary">
      <div class="section">
        <p class="name">Subtotal:</p>
        <p class="price1">{{this.globalService.nairaFormat(this.currency, this.quote.subTotalJobCost)}}</p>
      </div>
    </div>
    <div class="add-buttons">
      <p class="add-tax" (click)="this.openAddPaymentModal('tax')">Add Tax</p>
      <p class="add-discount" (click)="this.openAddPaymentModal('discount')">Add Discount</p>
    </div>
    <ion-list>
      <ion-item-sliding *ngFor="let payment of Payments">
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="this.openEditPaymentModal(payment)">Edit</ion-item-option>
        </ion-item-options>
        <ion-item lines="none" mode="ios">
          <div class="section2">
            <p class="name">{{payment.paymentName}}:</p>
            <p class="price1">
              <span *ngIf="payment.paymentType=='discount'">- </span>
              <span *ngIf="payment.paymentType=='tax'">+ </span>
              {{this.globalService.nairaFormat(this.currency, this.payment.amount)}}
            </p>
          </div>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="this.removePayment(payment)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div class="summary">
      <div class="section">
        <p class="name">Total</p>
        <p class="price1">{{this.globalService.nairaFormat(this.currency, this.quote.totalJobCost)}}</p>
      </div>
    </div>
    <div class="add-buttons">
      <p class="add-quotation" *ngIf="this.type == 'new'" (click)="this.submit('new')">Create Quotation</p>
      <p class="add-quotation" *ngIf="this.type == 'edit'" (click)="this.submit('edit')">Update Quotation</p>
    </div>
  </div>
</ion-content>