<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div class="top-section">
      <div>
        <!-- <p class="profile-heading">Signin</p> -->
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="body">
      <div class="body-heading">
        <p class="profile-heading">Sign In</p>
      </div>
      <div class="section">
        <div class="input-div">
          <p>Email:</p>
          <input type="email" [(ngModel)] = "this.userAccount.email" />
        </div>
        <div class="input-div">
          <p>Password:</p>
          <input type="password" [(ngModel)] = "this.userAccount.password"  />
        </div>
      </div>
      <!-- <p [routerLink]='["/forgotpassword"]' class="text"><span class="link">Forgot password</span></p> -->
      <div class="add-buttons">
        <p class="add-quotation" (click)= "this.signin()">Login</p>
      </div>
      <p class="text">Don't have an account? <span [routerLink]='["/signup"]' class="link">Create one</span></p>
    </div>
  </div>
</ion-content>