<ion-header translucent="true">
  <ion-toolbar id="header">
    <div class="toolbar1">
      <div class="profile-heading">
        <p>Dashboard</p>
      </div>
      <div class="profile-img">
        <img src="{{pictureUrl}}" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="this.doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="container price-container">
    <p class="price-label">Total Income</p>
    <p class="price-amount">{{this.userAccount.totalIncome}}</p>
  </div>
  <div class="container">
    <canvas class="chart" #myChart height="250"></canvas>
  </div>
  <div class="container price-container2">
    <p class="price-label">Income this month</p>
    <p class="price-amount2">{{this.userAccount.monthIncome}}</p>
  </div>
  <div class="container">
    <div class="chart  price-container2">
      <p class="price-label">Total Jobs</p>
      <p class="container-heading">{{this.userAccount.totalTobs}}</p>
      <canvas class="" #myChart2 height="250"></canvas>
    </div>
  </div>
  <div class="">
    <div class="container-link">
      <p class="container-heading2">Recent Jobs</p>
      <p class="see-more" [routerLink]="['/tabs/jobs']">See All</p>
    </div>
    <div class="recent-job-list" *ngIf="this.jobs.length > 0">
      <div class="job-item" *ngFor="let job of jobs" [routerLink]="['/tabs/jobs/'+job.id]">
        <div class="job-con">
          <p class="heading1">{{job.jobName}}</p>
          <p *ngIf="job.status == 'Completed'" class="status bggreen">{{job.status}}</p>
          <p *ngIf="job.status != 'Completed' && job.status != 'Cancelled'" class="status bgorange">{{job.status}}</p>
          <p *ngIf="job.status == 'Cancelled'" class="status bgred">{{job.status}}</p>
        </div>
        <div class="job-con2">
          <div class="job-con3">
            <p class="heading1" *ngIf="job.quotation == 'Quotation has not been created'">
              {{this.globalService.nairaFormat(job.currency, 0)}}
            </p>
            <p class="heading1" *ngIf="job.quotation != 'Quotation has not been created'">
              {{this.globalService.nairaFormat(job.currency, job.quotation.quotationDetails.profit)}}
            </p>
            <p class="date">{{this.globalService.formatDate(job.created_at)}}</p>
          </div>
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      </div>
    </div>
    <div class="message" *ngIf="this.jobs.length == 0">
      <p>You don't have any job yet.</p>
    </div>
  </div>
</ion-content>