<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div>
      <p class="profile-heading">Dashboard</p>
    </div>
    <ion-buttons slot="end">
      <div class="profile-img">
        <img src="{{pictureUrl}}" />
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-refresher slot="fixed" (ionRefresh)="this.doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div class="container price-container">
    <p class="price-label">Total Income</p>
    <p class="price-amount">{{this.userAccount.totalIncome}}</p>
  </div>
  <div class="container">
    <canvas class="chart" #myChart height="250"></canvas>
  </div>
  <div class="container price-container2">
    <p class="price-label">Income this month</p>
    <p class="price-amount2">{{this.userAccount.monthIncome}}</p>
  </div>
  <div class="container">
    <div class="chart  price-container2">
      <p class="price-label">Total Jobs</p>
      <p class="container-heading">{{this.userAccount.totalTobs}}</p>
      <canvas class="" #myChart2 height="250"></canvas>
    </div>
  </div>
  <div class="">
    <div class="container-link">
      <p class="container-heading2">Recent Jobs</p>
      <p class="see-more" [routerLink]="['/tabs/jobs']">See All</p>
    </div>
    <div class="recent-job-list">
      <div class="job-item" *ngFor="let job of jobs" [routerLink]="['jobs/'+job.id]">
        <div class="job-con">
          <p class="heading1">{{job.companyName}}</p>
          <p class="status bggreen">{{job.status}}</p>
        </div>
        <div class="job-con2">
          <div class="job-con3">
            <p class="heading1">
              {{this.globalService.nairaFormat(job.quotation.quotationDetails.currency, job.quotation.quotationDetails.profit)}}
            </p>
            <p class="date">{{this.globalService.changeDate(job.created_at)}}</p>
          </div>
          <ion-icon name="chevron-forward"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>